/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

body, html {
  height: 100%
  min-height: 100%;
}

.column {
  float: left;
  width: 31%;
  padding: 20px;
  margin: 1%;
  height: 50%;
}

.big {
  width: 64%;
  height: 100%;
  padding: 10px;
  height: 100%;
}

.biggest {
  width: 98%;
  padding: 10px;
}
